<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blueasy Freebie</title>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/custom.css">
</head>
<body>
<div class="container-fluid">
  <header>
    <nav>
      <div class="container">
        <div id="logo" class="col-md-6 logo-container">
          <div class="logo-text">
            <a href="#">blu<span class="logo-e-letter">e</span>asy</a>
          </div>
        </div>
        <div class="col-md-6 nav-links">
          <div class="link"><a href="#">Home</a></div>
          <div class="link"><a href="#services">Services</a></div>
          <div class="link"><a href="#">Features</a></div>
          <div class="link"><a href="#portfolio">Portfolio</a></div>
          <div class="link"><a href="#contact">Contact</a></div>
        </div>
      </div>
    </nav>
    <div id="slogan" class="slogan-container">
      <div class="slogan-text">
        <p>"I'm looking for the unexpected.</p>
        <p>I'm looking for things I've never seen before."</p>
      </div>
    </div>
  </header>

  <main>
    <section id="services">services</section>
    <section id="portfolio">portfolio</section>
    <section id="default">default</section>
    <section id="twitter">twitter</section>
    <section id="who_is">who_is</section>
    <section id="testimonials">testimonials</section>
    <section id="contact">contact</section>
  </main>

  <footer></footer>
</div>
</body>
</html>
