@font-face {
  font-family: SegoeUIRegular;
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: SegoeUIBold;
  src: url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: SegoeUIItalic;
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: SegoeUILight;
  src: url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: SegoeUISemiBold;
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
html {
  font-size: 14px; }

body {
  background-color: #515f67;
  font-family: SegoeUIRegular;
  color: #ffffff; }

p {
  margin: 1rem 0; }

h1, h2 {
  text-transform: uppercase; }

h1 {
  font-family: SegoeUILight;
  font-size: 2.14rem; }

.short-bottom-border {
  width: 3.21rem;
  border-top: .14rem solid;
  margin-top: .71rem; }

h2 {
  font-family: SegoeUISemiBold;
  font-size: 1.71rem; }

header {
  background: url("../images/header.jpg") no-repeat bottom center scroll;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  text-transform: uppercase; }

nav {
  height: 18.75vh;
  background-color: rgba(53, 63, 70, 0.85);
  font-family: SegoeUIBold; }

.logo-container {
  height: 18.75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .logo-container .logo-text {
    font-size: 2.14rem; }
  .logo-container .logo-e-letter {
    color: #4bcaff; }

.nav-links {
  height: 18.75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: SegoeUIBold;
  text-transform: uppercase; }
  .nav-links a {
    text-decoration: none;
    border: 2px solid transparent;
    padding: .71rem 1.23rem; }
  .nav-links a:hover, .nav-links a:active {
    color: #4bcaff;
    border: 2px solid #4bcaff;
    cursor: pointer; }

.slogan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 81.25vh; }

.slogan-text {
  text-decoration: uppercase;
  font-family: SegoeUILight;
  font-size: 3rem;
  text-align: center; }
  .slogan-text p {
    display: inline-block;
    /* if screen get wide both paragraphs jump into one line*/
    background-color: rgba(53, 63, 70, 0.85);
    padding: 1.43rem; }

.content {
  padding: 5.71rem 0; }

.services-container, .twitter-container {
  background-color: #4bcaff; }

.portfolio-container, .testimonials-container {
  background-color: #ffffff; }

.services-container p {
  font-family: SegoeUISemiBold;
  font-size: 12px;
  line-height: 18px; }

.item:first-child {
  padding-left: 0; }

.item:last-child {
  padding-right: 0; }

.service-img {
  margin-bottom: 1.71rem; }

.portfolio-container {
  color: #515f67; }
  .portfolio-container .wrapper:last-child img {
    margin-top: 2.14rem; }
  .portfolio-container .nav-links {
    height: auto; }
  .portfolio-container .heading {
    margin-bottom: 5.71rem; }
  .portfolio-container img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #979797; }
  .portfolio-container img:hover {
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
    cursor: pointer; }
  .portfolio-container .plus {
    font-size: 3rem;
    color: red; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.855rem; }

/*# sourceMappingURL=custom.css.map */
